body {
    background-color: #232323;
    color: #e8e8e8;
    font: 14px "Open Sans", sans-serif;
}

h1 {
    font-family: "Signika Negative";
    text-align: center;
    font-size: 4em;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
}

#diagram {
    width: 60%;
    height: 700px;
    margin: auto;
}

canvas {
    background-color: #e8e8e8;
    border: 0px;
    border-radius: 10px;
}


